
/*------------------------------------------------------
GOOGLE
 */
 .linkDecor {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}
 .googleButton {
     display: inline-block;
    max-width: 300px;
     margin:20px;
     padding: 0 18px;
    text-align: left;
    height: 37px;
    border-radius: 4px;
    border: 5px black;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0, 0, 0, 0.84) !important;
    fill: rgba(0, 0, 0, 0.84) !important;
    box-shadow: 0 1px 7px #000000;
     font-family: Roboto, sans-serif;
     font-size: 18px;

}
 .googleButton .svgIconGoogle {
    vertical-align: middle;
    fill: rgba(0, 0, 0, 0.54);
    padding-right: 4px;
    height: 37px;
    display: inline-block;
}